
// ? @@@@@@@@@@@@@@@@@@@@@@[  landing start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=landing] {
    @include media-breakpoint(basic) {
        & .bigSectionDivider {
            height: 8px;
            background-color: $gray-300;
            border: 0;
            border-top: 1px solid $gray-600;
            margin: 0;
            padding: 0;
        }
        & .heroSection {
            & .heroSectionInner {
                & .owl-carousel {
                    & .owl-stage-outer {
                        & .owl-stage {
                            & .owl-item {
                                & .item {
                                    aspect-ratio: 600/253;
                                    background-image: var(--bg);
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    border-radius: 10px;
                                    border: 2px solid $gray-200;
                                }
                            }
                        }
                    }
                    & .owl-nav {
                        position: absolute;
                        inset: auto 13px 35px auto;
                        gap: 10px;
                        display: inline-flex;
                        & [class*=owl-] {
                            background-color: $white;
                            border-radius: 50px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 40px;
                            height: 40px;
                                & img {
                                    width: 20px;
                                    height: 20px;
                                }
                            &.owl-prev {
                                padding-right: 3px !important;
                            }
                            &.owl-next {
                                padding-left: 3px !important;
                            }
                        }
                    }
                }
            }
        }
        & .allCategories {
            padding-top: 25px;
            & .allCategoriesInner {
                & .allCategoriesHeading {
                    font-size: 20px;
                    font-weight: 500;
                    color: $black;
                }
                & .viewAllBtn {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    & span {
                        font-size: 20px;
                        font-weight: 500;
                        color: $theme1;
                        display: inline-flex;
                        & img {
                            width: 20px;
                            height: 20px;
                            background-color: $theme1;
                            border-radius: 50px;
                        }
                    }
                }
                & .owl-carousel {
                    & .owl-stage-outer {
                        & .owl-stage {
                            padding-left: 0px !important;
                            & .owl-item {
                                & .item {
                                    & .itemInner {
                                        & .itemImg{
                                            & img {
                                                aspect-ratio: 5/5;
                                                object-fit: cover;
                                                object-position: center;
                                                width: 100%;
                                                border-radius: 8px;
                                                border: 1px solid $gray-100;
                                            }
                                        }
                                        & .itemTitle {
                                            font-size: 14px;
                                            font-weight: 500;
                                            color: $black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .owl-nav {
                        position: absolute;
                        inset: 0px -15px;
                        gap: 10px;
                        display: flex;
                        height: 0px;
                        margin: auto;
                        justify-content: space-between;
                        & [class*=owl-] {
                            background-color: $white;
                            border-radius: 50px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 30px;
                            height: 30px;
                            transform: translateY(-115%);
                            box-shadow: 0px 0px 5px 0px $gray-400;
                                & img {
                                    width: 15px;
                                    height: 15px;
                                }
                            &.owl-prev {
                                padding-right: 3px !important;
                            }
                            &.owl-next {
                                padding-left: 3px !important;
                                margin-left: auto;

                            }
                            &.disabled {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}

[data-bs-theme=dark] {
    & [data-page-name=landing] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  landing start  ]@@@@@@@@@@@@@@@@@@@@@@


// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=example] {
    @include media-breakpoint(basic) {
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}

[data-bs-theme=dark] {
    & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

